{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-plusplus": ["off", {"allowForLoopAfterthoughts": true}]
  }
}