
    .round-stat__border {
      min-height: 150px;
      overflow: scroll;
      max-height: auto;
        text-align: center;
      border-radius: 8px;
      border: 3px solid rgb(0, 40, 70);
      // cursor: pointer;
      animation: border-flicker 2s linear forwards;
      margin: 10px;
    h2{
      animation: letter-flicker 5s linear infinite;
      font-family: 'Lobster', cursive;
      font-weight: 300;
      font-size:2.9em;
      // margin: 15px 0 0;
      color: rgba(120, 0, 50, .5);
    

    .round-stat__border:hover {
      animation: border-flicker 2s linear forwards;
    }
  
    span {
      font-family: 'Lobster', cursive;
      font-weight: 300;
      // margin: 15px 0 0;
      color: rgba(120, 0, 50, .5);
      animation: text-flicker 5s linear forwards;
    }
}

.round-stat__container{
    font-family: "Lobster", cursive;
    font-weight: 300;
    font-size: 2.3em;
    color: rgba(120, 0, 50, 0.5);
    animation: text-flicker 2s linear forwards;
}
    .round-stat__border:hover h2 {
      animation: text-flicker 5s linear forwards;
    }
    .round-stat__border:hover .second {
      animation: letter-flicker 3s linear infinite;
    }

    @keyframes text-flicker {
      1% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      5% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      8% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      11% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      18% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      22% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      28% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      32% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      37% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      38% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      41% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      46% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      49% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      65% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      100% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
    }
  
    @keyframes letter-flicker {
        4% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      8% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      10% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      14% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      15% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      18% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      22% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      32% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      36% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      37% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      41% {
        color: rgba(120, 0, 50, .5);
        text-shadow: none;
      }
      46% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
      100% {
        color: rgb(230, 0, 120);
        text-shadow: 0 0 15px rgb(230, 0, 120);
      }
    }
  
    @keyframes border-flicker {
      2% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
      3% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
      }
      5% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
      6% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
      }
      7% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
      9% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
      }
      13% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
      16% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
      }
      18% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
      22% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
      }
      34% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
      36% {
        border: 3px solid rgb(0, 40, 70);
        box-shadow: none;
      }
      54% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
      100% {
        border: 3px solid rgb(0, 180, 230);
        box-shadow: 0 0 15px -1px rgb(0, 180, 230),
        0 0 12px -1px rgb(0, 180, 230) inset;
      }
    }
    }
  