$color-primary: #303030;
$color-primary-light: #b1b1b1;
$color-scrollbar: rgb(37, 37, 37);
$color-scrollbar-light: rgb(95, 95, 95);
$color-black: black;
$color-body: rgb(75, 75, 75);
$color-background: #fff;

$content-width: 1280px;
$wrapper-width: 1000px;
$tablet-max-width: 900px;
$mobile-max-width: 500px;
$footer-height: 5rem;

$base-font-size: 10px;

$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-popup-border: #404040;
$color-popup-bg: #2b2b2b;
