.background-sound-wrapper {
  padding: 5px 0px;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  width: 180px;
}

.music-control {
  width: 162px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.music-control__previous, .music-control__play, .music-control__forward, .music-control__mute {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.previous, .play, .forward, .mute {
  width: 25px;
  height: 25px;
}

.previous {
  transform: rotate(180deg);
}

.music-control__play {
  display: flex;
  justify-content: center;
  align-items: center;
}

