.cards-selection-container{
    width: 350px;
    height: 250px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    
}

.cards-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
}
    .cards-container__cards:nth-child(1) {top: -0px;left: -0px;}
    .cards-container__cards:nth-child(2) {top: -1px;left: -1px;}
    .cards-container__cards:nth-child(3) {top: -2px;left: -2px;}
    .cards-container__cards:nth-child(4) {top: -3px;left: -3px;}
    .cards-container__cards:nth-child(5) {top: -4px;left: -4px;}
    .cards-container__cards:nth-child(6) {top: -5px;left: -5px;}
    .cards-container__cards:nth-child(7) {top: -6px;left: -6px;}
    .cards-container__cards:nth-child(8) {top: -7px;left: -7px;}
    .cards-container__cards:nth-child(9) {top: -8px;left: -8px;}
    .cards-container__cards:nth-child(10) {top: -9px;left: -9px;}
    .cards-container__cards:nth-child(11) {top: -10px;left: -10px;}
    .cards-container__cards:nth-child(12) {top: -11px;left: -11px;}
    .cards-container__cards:nth-child(13) {top: -12px;left: -12px;}
    .cards-container__cards:nth-child(14) {top: -13px;left: -13px;}
    .cards-container__cards:nth-child(15) {top: -14px;left: -14px;}
    .cards-container__cards:nth-child(16) {top: -15px;left: -15px;}
    .cards-container__cards:nth-child(17) {top: -16px;left: -16px;}
    .cards-container__cards:nth-child(18) {top: -17px;left: -17px;}
    .cards-container__cards:nth-child(19) {top: -18px;left: -18px;}
    .cards-container__cards:nth-child(20) {top: -19px;left: -19px;}
    .cards-container__cards:nth-child(21) {top: -20px;left: -20px;}
    .cards-container__cards:nth-child(22) {top: -21px;left: -21px;}
    .cards-container__cards:nth-child(23) {top: -22px;left: -22px;}
    .cards-container__cards:nth-child(24) {top: -23px;left: -23px;}
    .cards-container__cards:nth-child(25) {top: -24px;left: -24px;}

    .cards-container__cards2:nth-child(1) {top: -0px;right: -0px;}
    .cards-container__cards2:nth-child(2) {top: -1px;right: -1px;}
    .cards-container__cards2:nth-child(3) {top: -2px;right: -2px;}
    .cards-container__cards2:nth-child(4) {top: -3px;right: -3px;}
    .cards-container__cards2:nth-child(5) {top: -4px;right: -4px;}
    .cards-container__cards2:nth-child(6) {top: -5px;right: -5px;}
    .cards-container__cards2:nth-child(7) {top: -6px;right: -6px;}
    .cards-container__cards2:nth-child(8) {top: -7px;right: -7px;}
    .cards-container__cards2:nth-child(9) {top: -8px;right: -8px;}
    .cards-container__cards2:nth-child(10) {top: -9px;right: -9px;}
    .cards-container__cards2:nth-child(11) {top: -10px;right: -10px;}
    .cards-container__cards2:nth-child(12) {top: -11px;right: -11px;}
    .cards-container__cards2:nth-child(13) {top: -12px;right: -12px;}
    .cards-container__cards2:nth-child(14) {top: -13px;right: -13px;}
    .cards-container__cards2:nth-child(15) {top: -14px;right: -14px;}
    .cards-container__cards2:nth-child(16) {top: -15px;right: -15px;}
    .cards-container__cards2:nth-child(17) {top: -16px;right: -16px;}
    .cards-container__cards2:nth-child(18) {top: -17px;right: -17px;}
    .cards-container__cards2:nth-child(19) {top: -18px;right: -18px;}
    .cards-container__cards2:nth-child(20) {top: -19px;right: -19px;}
    .cards-container__cards2:nth-child(21) {top: -20px;right: -20px;}
    .cards-container__cards2:nth-child(22) {top: -21px;right: -21px;}
    .cards-container__cards2:nth-child(23) {top: -22px;right: -22px;}
    .cards-container__cards2:nth-child(24) {top: -23px;right: -23px;}
    .cards-container__cards2:nth-child(25) {top: -24px;right: -24px;}
.cards-container__cards{
    position: absolute;
    width:144px;
    height:209px;
    border:1px solid black;
    border-radius:5px;
    background-color: blueviolet;
    
}
.cards-container__cards2{
    position: absolute;
    width:144px;
    height:209px;
    border:1px solid black;
    border-radius:5px;
    background-color: blueviolet;
    
}