// .commands-page {
//   display: none;
// }
.point-events-none{
  pointer-events: none;
}
.text-small{
  a{
    font-size: 5em !important;
  }
}
@media (max-width:400px) {
  .text-small{
    a{
      font-size: 4em !important;
    }
  }
}
.command-wrapper {
  // padding: 20px;
  // max-width: 350px;
  // background: rgba(255, 255, 255, 0.95);
  // box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
.item{
  display: flex;
  justify-content: space-between;
}
@media (max-width:650px) {
.menu-button__small{
  width: 25% !important;
  min-width: 5rem !important;
}
}
.menu-button__small{
min-width: 5rem !important;
}
.menu-button__del{
  font-size: 20px !important;
}
// h2 {
//   text-align: center;
//   margin: 0;
//   font-weight: 200;
// }

.teams {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.teams li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 0 0 40px;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#menu-button__del{
  p a {
    font-size: 20px;
  }
}
.teams input {
  display: none;
}
.input-button, .input-here{
  font-size: 45px;
  color: #228DFF;
  font-family: Iceland, 'Jura', sans-serif;
  box-sizing: border-box;
}
.input-here{
  color: #BA01FF;
    font-family: Vampiro One, "Lobster", cursive;
    // -webkit-animation: neon6 1.5s ease-in-out infinite alternate;
    -moz-animation: neon6 1.5s ease-in-out infinite alternate;
    // animation: neon6 1.5s ease-in-out infinite alternate;
    background-color: transparent;
}
.add-teams {
  margin-top: 20px;
}

.add-teams input, button {
  // padding: 10px;
      /* margin: 3px; */
      outline: 0;
      /* border: 1px solid rgba(0, 0, 0, 0.1); */
      border-radius: 8px;
      font-size: 25px;
}
